* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #090c12;
    justify-content: space-between;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

header h1 {
    font-size: 18px;
    padding-top: 10px;
}

#titulo_header {
    display: flex;
    gap: 20px;
}

#titulo_header p {
    background-color: #FF6B00;
    color: #1E0038;
    font-size: 20px;
    padding: 10px;
    border-radius: 100px
}

#descricao_personagens {
    background-color: #1E293B;
    padding: 60px;
    text-align: center;
}

#descricao_personagens h2 {
    font-size: 50px;
}

#galeria {
    background-color: #475569;
}

#titulo_galeria {
    padding: 30px;
    color:#FF6B00;
    text-align: center;
}

#titulo_galeria h2 {
    font-size: 40px;
    color: #FF6B00;
}


#img-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



#card {
    background-color: #E2E8F0;
    margin: 1%;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 20px;
}

#card {
    width: 20%;
    padding: 4%;
    border-radius: 20px;
    object-fit: cover;
}

#mais {
    text-align: center;
    color: #0045ac;
    font-size: 25px;
    padding: 10px;
}



footer {
    background-color: #1E293B;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white
}

.botao_verde {
    text-decoration: none;
    background-color:#FF6B00;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color:#000000
}

.botao_claro {
    text-decoration: none;
    background-color: #E2E8F0;
    padding: 12px;
    color: #000;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.verde {
    color: #FF6B00;
}